#result-search {
    padding: 0.5rem;
    min-height: 7rem;
    max-height: 15rem;
    overflow: auto;
}

.result-item {
    display: block;
    text-align: center;
    width: 100%;
    padding: 2px 4px;
    box-sizing: border-box;
    border-radius: 0.6rem;
    margin-bottom: 0.3rem;
    transition: all 0.2s;
}

.result-item:hover {
    background-color: rgb(239, 219, 255);
}

.to-search {
    padding: 0.4rem;
    box-sizing: border-box;
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
}

.comment {
    width: 80%;
    min-height: 15rem;
    max-height: 30rem;
    border-radius: 4rem;
    padding: 2rem;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid rgb(228, 128, 21);
}