/* Page Component */

/* 1. Navigation Component */
.nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    list-style: none;
}

.nav ul {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-item a {
    color: inherit;
    padding: 0.4rem;
    text-shadow: none;
}

.nav ul .nav-item {
    padding: 0.4rem;
    cursor: pointer;
    transition: color 0.2s, transform 0.2s;
}

.nav ul .nav-item:hover {
    color: rgb(23, 4, 39);
    transform: scale(1.2, 1.2);
}

.nav.bg-royal ul .nav-item {
    padding: 0.4rem;
    cursor: pointer;
    color: rgb(193, 159, 223);
    transition: color 0.2s, transform 0.2s;
}

.nav.bg-royal ul .nav-item:hover {
    color: white;
    transform: scale(1.2, 1.2);
}

.side-nav {
    color: rgb(216, 88, 3);
    padding: 2rem;
    width: 250px;
    z-index: 1;
    background-color: rgb(23, 4, 39);
    transform: translate(-500px, 0);
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    position: fixed;
    top: 50px;
    height: 70vh;
}

.side-nav.slide-on {
    transform: translate(0, 0);
    /* left: 0; */
}

/* Jumbotron Component */
.jumbotron {
    background-color: rgb(119, 118, 118);
    height: 90vh;
    padding: 1rem 4rem;
    box-sizing: border-box;
}

/* Card Component */
.card {
    background-color: rgb(252, 252, 252);
    border-radius: 0.5rem;
    padding: 0.3rem 0.8rem;
    box-sizing: border-box;
    border: 1px solid rgba(102, 0, 122, 0.527);
    cursor: pointer;
    width: 200px;
    overflow: auto;
    height: 200px;
    transition: box-shadow 0.2s;
    margin: 0.4rem;
}

.card:hover {
    box-shadow: 0 0 0.4rem 0.2rem rgba(134, 5, 160, 0.349);
}

.card-header {
    padding: 0.1rem;
    border-bottom: 1px solid rgba(134, 5, 160, 0.349);
}

.card-body {
    margin-top: 0.4rem;
    text-align: center;
    color: rgb(23, 4, 39);
}

/* Thumbnail */
img.thumbnail {
    width: 128px;
    height: 128px;
    border: 3px solid rgb(41, 12, 65);
    border-radius: 100%;
    transition: transform 0.2s, box-shadow 0.2s;
}

img.thumbnail:hover {
    box-shadow: 0 0 0.4rem 0.2rem rgba(0, 0, 0, 0.623);
}

.display-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
    font-family: "Comfortaa", cursive;
    text-transform: uppercase;
}

.display-2 {
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.2;
    font-family: "Comfortaa", cursive;
    text-transform: uppercase;
}

.display-3 {
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.2;
    font-family: "Comfortaa", cursive;
    text-transform: uppercase;
}

.display-4 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    font-family: "Comfortaa", cursive;
    text-transform: uppercase;
}

.bg-royal {
    background-color: rgb(23, 4, 39);
}

.bg-gradient-royal {
    background-image: linear-gradient(rgba(23, 4, 39, 0.89), rgb(5, 1, 8));
}

.bg-gradient-toright-royal {
    background-image: linear-gradient(to right, rgb(23, 4, 39), white);
}

.bg-gold {
    background-image: linear-gradient(rgb(216, 88, 3), rgb(216, 141, 29));
}

.bg-gradient-gold-white {
    background-image: linear-gradient(rgb(216, 88, 3) 20%, rgb(255, 255, 255) 80%);
}

.btn {
    border: 0;
    padding: 0.6rem 0.8rem;
    font-family: sans-serif;
    font-size: 100%;
    cursor: pointer;
    border-radius: 1rem;
    border: 1px solid transparent;
    text-align: center;
    vertical-align: middle;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
        border-radius 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.btn:focus {
    outline: 0;
}

.btn:hover {
    color: #212529;
}

.btn-100 {
    width: 100%;
}

.btn-soft {
    background-color: rgb(25, 122, 187);
    color: white;
}

.btn-soft:hover {
    background-color: white;
    color: rgb(25, 122, 187);
    border-color: rgb(25, 122, 187);
    border-radius: 0.2rem;
}

.btn-royal {
    background-color: rgb(41, 12, 65);
    color: white;
}

.btn-royal:hover {
    background-color: white;
    color: rgb(41, 12, 65);
    border-color: rgb(41, 12, 65);
    border-radius: 0.2rem;
}

.btn-reverse-gold {
    background-color: white;
    color: rgb(216, 88, 3);
    border: 1px solid rgb(216, 88, 3);
}


.btn-reverse-gold:hover {
    border-radius: 2rem;
    background-color: rgb(216, 88, 3);
    color: white;
    box-shadow: 0 0 0 0.1rem rgb(255, 107, 9);
}

.btn-reverse-royal {
    background-color: white;
    color: rgb(23, 4, 39);
    border: 1px solid rgb(23, 4, 39);
}

.btn-reverse-royal:hover {
    border-radius: 15%;
    background-color: rgb(23, 4, 39);
    color: white;
    box-shadow: 0 0 0 0.1rem rgb(49, 6, 84);
}

.btn-danger {
    background-color: rgb(172, 17, 17);
    color: white;
}

.btn-danger:hover {
    background-color: white;
    color: rgb(172, 17, 17);
    border-color: rgb(172, 17, 17);
    border-radius: 0.2rem;
}

.btn-danger:focus {
    background-color: rgb(231, 244, 255);
}

.btn-reverse-soft {
    background-color: white;
    color: rgb(25, 122, 187);
}

.btn-reverse-soft:hover {
    border-radius: 15%;
    background-color: rgb(25, 122, 187);
    color: white;
    box-shadow: 0 0 0 0.1rem rgb(45, 162, 240);
}

.btn-reverse-danger {
    background-color: white;
    color: rgb(172, 17, 17);
}

.btn-reverse-danger:hover {
    border-radius: 2rem;
    background-color: rgb(172, 17, 17);
    color: white;
    box-shadow: 0 0 0 0.1rem rgb(230, 29, 29);
}

.bg-dark {
    background-color: rgb(5, 1, 8);
}

.text-white {
    color: rgb(243, 227, 227);
}

.text-danger {
    color: rgb(173, 7, 7);
}

.text-gold {
    color: rgb(216, 88, 3);
}

.text-royal {
    color: rgb(23, 4, 39);
}

.container {
    width: 100%;
    min-height: 100vh;
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

input,
button,
select,
input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


.form-group {
    margin-bottom: 1rem;
}

.form-inline {
    display: flex;
    flex-flow: row nowrap;
}

.form-inline .form-control {
    margin: 0 0.2rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(13, 1, 24);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgb(85, 29, 131);
    border-radius: 0.6rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:hover {
    border-color: rgb(41, 12, 65);
}

.form-control:focus {
    outline: 0;
    border-color: rgb(41, 12, 65);
    box-shadow: 0 0 0.2rem 0.1rem rgb(85, 29, 131);
}

/* Flex System */
.row {
    margin-right: -40px;
    margin-left: -40px;
    flex-wrap: wrap;
    display: flex;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.col {
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
}

.col-1 {
    flex: 0 0 10%;
    max-width: 10%;
}

.col-2 {
    flex: 0 0 20%;
    max-width: 20%;
}

.col-3 {
    flex: 0 0 30%;
    max-width: 30%;
}

.col-4 {
    flex: 0 0 40%;
    max-width: 40%;
}

.col-5 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-6 {
    flex: 0 0 60%;
    max-width: 60%;
}

.col-7 {
    flex: 0 0 70%;
    max-width: 70%;
}

.col-8 {
    flex: 0 0 80%;
    max-width: 80%;
}

.col-9 {
    flex: 0 0 90%;
    max-width: 90%;
}

.col-10 {
    flex: 0 0 100%;
    max-width: 100%;
}

.offset-1 {
    margin-left: 10%;
}

.offset-2 {
    margin-left: 20%;
}

.offset-3 {
    margin-left: 30%;
}

.offset-4 {
    margin-left: 40%;
}

.offset-5 {
    margin-left: 50%;
}

.offset-6 {
    margin-left: 60%;
}

/* Element HTML */

html {
    font-family: sans-serif;
    line-height: 1.4rem;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(33, 34, 36);
    text-align: left;
    background-color: rgb(255, 255, 255);
}

a {
    color: #3d87d6;
    text-decoration: none;
    background-color: transparent;
    transition: text-shadow 0.2s, color 0.3s;
}

a:hover {
    color: #1b0741;
}

footer.footer {
    height: 10vh;
    text-align: justify;
    background-color: rgb(193, 159, 223);
}

input,
button,
textarea {
    font-family: inherit;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Unsur CSS dasar */
.mt-auto,
.my-auto,
.m-auto {
    margin-top: auto;
}

.mb-auto,
.my-auto,
.m-auto {
    margin-bottom: auto;
}

.ml-auto,
.mx-auto,
.m-auto {
    margin-left: auto;
}

.mr-auto,
.mx-auto,
.m-auto {
    margin-right: auto;
}

.m-0 {
    margin: 0;
}

.m-1 {
    margin: 0.5rem;
}

.m-2 {
    margin: 1rem;
}

.m-3 {
    margin: 1.75rem;
}

.m-4 {
    margin: 2.5rem;
}

.m-5 {
    margin: 3.5rem;
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: 0.5rem;
}

.p-2 {
    padding: 1rem;
}

.p-3 {
    padding: 1.75rem;
}

.p-4 {
    padding: 2.5rem;
}

.p-5 {
    padding: 3.5rem;
}

.mt-0,
.my-0 {
    margin-top: 0;
}

.mt-1,
.my-1 {
    margin-top: 0.5rem;
}

.mt-2,
.my-2 {
    margin-top: 1rem;
}

.mt-3,
.my-3 {
    margin-top: 1.75rem;
}

.mt-4,
.my-4 {
    margin-top: 2.5rem;
}

.mt-5,
.my-5 {
    margin-top: 3.5rem;
}

.mb-0,
.my-0 {
    margin-bottom: 0rem;
}

.mb-1,
.my-1 {
    margin-bottom: 0.5rem;
}

.mb-2,
.my-2 {
    margin-bottom: 1rem;
}

.mb-3,
.my-3 {
    margin-bottom: 1.75rem;
}

.mb-4,
.my-4 {
    margin-bottom: 2.5rem;
}

.mb-5,
.my-5 {
    margin-bottom: 3.5rem;
}

.ml-0,
.mx-0 {
    margin-left: 0;
}

.ml-1,
.mx-1 {
    margin-left: 0.5rem;
}

.ml-2,
.mx-2 {
    margin-left: 1rem;
}

.ml-3,
.mx-3 {
    margin-left: 1.75rem;
}

.ml-4,
.mx-4 {
    margin-left: 2.5rem;
}

.ml-5,
.mx-5 {
    margin-left: 3.5rem;
}

.mr-0,
.mx-0 {
    margin-right: 0rem;
}

.mr-1,
.mx-1 {
    margin-right: 0.5rem;
}

.mr-2,
.mx-2 {
    margin-right: 1rem;
}

.mr-3,
.mx-3 {
    margin-right: 1.75rem;
}

.mr-4,
.mx-4 {
    margin-right: 2.5rem;
}

.mr-5,
.mx-5 {
    margin-right: 3.5rem;
}

.pt-0,
.py-0 {
    padding-top: 0;
}

.pt-1,
.py-1 {
    padding-top: 0.5rem;
}

.pt-2,
.py-2 {
    padding-top: 1rem;
}

.pt-3,
.py-3 {
    padding-top: 1.75rem;
}

.pt-4,
.py-4 {
    padding-top: 2.5rem;
}

.pt-5,
.py-5 {
    padding-top: 3.5rem;
}

.pb-0,
.py-0 {
    padding-bottom: 0rem;
}

.pb-1,
.py-1 {
    padding-bottom: 0.5rem;
}

.pb-2,
.py-2 {
    padding-bottom: 1rem;
}

.pb-3,
.py-3 {
    padding-bottom: 1.75rem;
}

.pb-4,
.py-4 {
    padding-bottom: 2.5rem;
}

.pb-5,
.py-5 {
    padding-bottom: 3.5rem;
}

.pl-0,
.px-0 {
    padding-left: 0;
}

.pl-1,
.px-1 {
    padding-left: 0.5rem;
}

.pl-2,
.px-2 {
    padding-left: 1rem;
}

.pl-3,
.px-3 {
    padding-left: 1.75rem;
}

.pl-4,
.px-4 {
    padding-left: 2.5rem;
}

.pl-5,
.px-4 {
    padding-left: 3.5rem;
}

.pr-0,
.px-0 {
    padding-right: 0rem;
}

.pr-1,
.px-1 {
    padding-right: 0.5rem;
}

.pr-2,
.px-2 {
    padding-right: 1rem;
}

.pr-3,
.px-3 {
    padding-right: 1.75rem;
}

.pr-4,
.px-4 {
    padding-right: 2.5rem;
}

.pr-5,
.px-5 {
    padding-right: 3.5rem;
}

.text-justify {
    text-align: justify;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.hide {
    display: none;
}

.shadow {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.322);
}

.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}